html, body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

header {
    color: white;
    background-color: #498EFB;

    padding: 1em;
}

.brand {
    float: right;

    font-weight: bold;
    color: #F6DD00;
}

/*
 *
 */
.table-container {
  margin: 1.6em;
}

table {
  width: 100%;

  margin: 1.6em auto;

  border-collapse: collapse;
}

thead, tfoot {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(2n) {
  background-color: #eef;
}

tbody tr.unread { background-color: rgba(0,255,0,0.4); }
td { padding: 0.2em; }

/*
 *
 */

.toolbar {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-flex;
  display: flex;

  text-align: center;

  -webkit-perspective: 1000px;
}

.toolbar a.option {
  -webkit-flex: 1;

  padding-top:    .7em;
  padding-bottom: .7em;

  margin: 0 1px;

  background-color: #EEF;

  text-decoration: none;
  color: #498EFB;

  transition: background-color 0.1s;
}

.toolbar a.option:hover {
  background-color: #498EFB;

  color: #EEF;
}

.toolbar a.option:active {
  -webkit-transform: rotateX(-30deg);
  transform-origin: 0 0%;

  color: white;
}

.toolbar.reverse a.option:active {
  -webkit-transform: rotateX(30deg);
  transform-origin: 100% 100%;
}

footer {
  background-color: rgb(73,142,251);

  min-height: 1em;
  padding: 1em;
}

.made-by {
  color: white;
}

.made-by a {
  font-weight: bold;
}