html, body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

header {
    color: white;
    background: #3333AA;

    padding: 1em;
}

.brand {
    float: right;
}

/*
 *
 */
.table-container {
  margin: 1.6em;
}

table {
  width: 100%;

  margin: 1.6em auto;

  border-collapse: collapse;
}

thead, tfoot {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(n) {
}
tbody tr:nth-child(2n) {
  background-color: #eeeeee;
}

tbody tr.unread { background-color: rgba(0,255,0,0.4); }
td { padding: 0.2em; }

/*
 *
 */

.toolbar {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-flex;
  display: flex;

  text-align: center;
}
.toolbar a.option {
  -webkit-flex: 1;

  padding-top:    .7em;
  padding-bottom: .7em;

  margin: 0 1px;

  background: #EEF;

  text-decoration: none;
}

.toolbar a.option:hover {
  background-color: #3333AA;

  color: #EEF;
}

.toolbar a.option:active {
  box-shadow: inset 0px 0px 5px 5px #222299;

  color: white;
}
