html, body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

header {
    color: white;
    background: #3333AA;

    height: 3em;
    line-height: 3em;

    padding: 0 1em;
}

.brand {
    float: right;
}

/*
 *
 */
.table-container {
  margin: 1.6em;
}

table {
  width: 100%;

  margin: 1.6em auto;

  border-collapse: collapse;
}

thead, tfoot {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(n) {
}
tbody tr:nth-child(2n) {
  background-color: #eeeeee;
}

tbody tr.unread { background-color: rgba(0,255,0,0.4); }
td { padding: 0.2em; }

/*
 *
 */

.toolbar {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-flex;
  display: flex;

  text-align: center;
}
.toolbar a.option {
  -webkit-flex: 1;

  padding-top:    .7em;
  padding-bottom: .7em;

  margin: 0 1px;

  background: #EEF;

  text-decoration: none;
}

.toolbar a.option:hover {
  background-color: #3333AA;

  color: #EEF;
}

.toolbar a.option:active {
  color: white;
  font-weight: bold;
}

footer {
  background-color: #3333AA;

  height: 1em;
}

.refresh-alert {
  display: none;
  background-color: yellow;

  height:      3em;
  line-height: 3em;

  text-align:center;

  position: fixed;
  top: 0;

  width: 100%;

  color: red;
  font-weight: bolder;
  font-family: Futura, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.refresh-alert button {
  color: blue;
}
.refresh-alert button:active {
  color: white;
}
.refresh-alert form {
  display: inline-block;
}

.close:hover {
  color: yellow;
  background-color: red;
}
.close:active {
  color: white;
}

.reload { color: blue; }

.reload:hover {
  color: yellow;
  background-color: blue;
}
.reload:active {
  color: white;
}

.buttons {
  float: right;

  margin-right: 1em;
}

.buttons span {
  display: inline-block;

  margin: 0;
  width:  3em;
}