<header>
  <div class="brand">
    Cyberscore Notifications
  </div>
  Welcome, <strong>{{ username }}</strong>
</header>

<section class="toolbar">
    <a class="option mark-read" href="#"><i class="icon-bookmark"></i> mark as read</a>
    <a class="option mark-unread" href="#"><i class="icon-bookmark-empty"></i> mark as unread</a>
    <a class="option delete" href="#"><i class="icon-trash"></i> delete</a>
</section>

<section class="table-container">
  {{#if total }}
  {{else }}
    <div class="zero-notifications">
      <h1>No notifications :C</h1>
    </div>
  {{/if }}

  {{#each notifications }}
    {{> notification-table }}
  {{/each }}
</section>

<section class="toolbar">
    <a class="option mark-read" href="#"><i class="icon-bookmark"></i> mark as read</a>
    <a class="option mark-unread" href="#"><i class="icon-bookmark-empty"></i> mark as unread</a>
    <a class="option delete" href="#"><i class="icon-trash"></i> delete</a>
</section>
